:root {
  --color-yellow: #DD8C21;
  --color-bckg:#DED2C2;
  --color-body-brown:#6E3F00;
}



.draggable {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  margin: 10rem;
}

.draggable:active {
  cursor: grabbing;
}

#signatureForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

#signatureCanvas {
  cursor: crosshair;
}

#tiltSquare {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
}


#scratchCanvas {
  position: absolute;
  z-index: 2;
}

#underlyingImage {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

h1{
color: var(--color-yellow);
}

body{
  background-color: var(--color-bckg);
  color: var(--color-body-brown);
}

a{
  text-decoration: none;
  color: inherit;
}