html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-yellow: #DD8C21;
  --color-bckg: #DED2C2;
  --color-body-brown: #6E3F00;
  --color-post-it: #F1ECCE;


  --fs-md: clamp(1.33rem, 0.27vi + 1.26rem, 1.5rem);
  --fs-lg: clamp(1.66rem, 0.54vi + 1.52rem, 2rem);
  --fs-xl: clamp(2.08rem, 0.94vi + 1.83rem, 2.66rem);
  --fs-xxl: clamp(2.59rem, 1.52vi + 2.2rem, 3.55rem);
  --fs-xxxl: clamp(3.24rem, 2.37vi + 2.63rem, 4.73rem);

  --fs-body: clamp(1.06rem, 0.1vi + 1.04rem, 1.13rem);
  --fs-h1: clamp(4.38rem, 2.98vi + 3.61rem, 6.25rem);
  --fs-sm: clamp(0.85rem, -0.01vi + 0.85rem, 0.84rem);
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  margin: 10rem;
}

.draggable:active {
  cursor: grabbing;
}

#signatureForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

#signatureCanvas {
  cursor: crosshair;
}

#tiltSquare {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
}


#scratchCanvas {
  position: absolute;
  z-index: 2;
}

#underlyingImage {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

h1 {
  color: var(--color-yellow);
  font-size: var(--fs-h1);
  font-family: 'Playfair Display';
  margin: 0;
}

h2 {
  color: var(--color-yellow);
  font-family: 'Playfair Display';
  font-size: var(--fs-lg);
  margin: 0;
}

body {
  background-color: var(--color-bckg);
  color: var(--color-body-brown);
  font-size: var(--fs-body);
  margin: var(--fs-body);
  margin-top: var(--fs-md);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.yellow {
  color: var(--color-yellow);
}

.bold {
  font-weight: bold;
}

.intro__plantin__post_it {
  font-family: 'Homemade Apple', cursive;
  background-color: var(--color-post-it);
  line-height: normal;
  font-size: var(--fs-sm);
}


@media screen and (max-width: 25em) {

  .nav__closed {
    display: flex;
    justify-content: space-between;
  }

  .intro {
    background-image: url(../src/assets/Archs.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    background-position: -3vw -5vh;
    margin-block-start: -2vh;
    margin-inline-start: -4vw;
    inline-size: 100vw;
  }


  h1,
  .intro>p {
    text-align: center;
  }

  .intro>p {
    inline-size: 77vw;
  }

  h1 {
    padding-block-start: 15vh;
  }

  .intro__plantin {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    inline-size: 80vw;
    block-size: 50vh;
  }

  .intro__plantin>* {
    grid-row: 1;
    grid-column: 1;
  }

  .intro__plantin__book_icon {
    justify-self: end;
  }

  .intro__plantin__portrait {
    justify-self: center;
    align-self: center;
  }

  .intro__plantin__writing_icon {
    justify-self: end;
    align-self: end;
  }

  .intro__plantin__post_it {
    inline-size: 26vw;
    block-size: 13vh;
    padding-inline-start: 4vw;
    align-self: end;
    transform: rotate(-5deg);
    transform-origin: center;
  }

  .intro__plantin__post_it>p{
    background-image: url(./assets/underline_postit.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 10px) calc(100% + 1vh);
    background-size: 100% 90%;
    padding-block-end: 5vh;
  }

  .stroll{
    inline-size: 70vw;
    margin-inline-start: 10vw;
  }

  .hello_there{
    /* inline-size: 80vw;
    block-size: 30vh; */
    margin-inline-start: 10vw;
    background-image: url(./assets/background_platin_talking.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2vh;
  }

    .hello_there>p{
      inline-size: 60vw;
    }

}