html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Iowan';
  src: url('../fonts/bitstream-iowan-old-style-bt-586c36a8d7712.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-yellow: #DD8C21;
  --color-bckg: #DED2C2;
  --color-body-brown: #6E3F00;
  --color-post-it: #F1ECCE;

  --fs-body: clamp(1.06rem, 0.1vi + 1.04rem, 1.13rem);
  --fs-h1: clamp(4.38rem, 2.98vi + 3.61rem, 6.25rem);
  --fs-sm: clamp(0.85rem, -0.01vi + 0.85rem, 0.84rem);
  --fs-md: clamp(1.33rem, 0.27vi + 1.26rem, 1.5rem);
  --fs-lg: clamp(1.66rem, 0.54vi + 1.52rem, 2rem);
  --fs-nav-computer: clamp(1.19rem, 0.4vi + 1.09rem, 1.44rem);
  --fs-nav-phone: clamp(1.63rem, 0.36vi + 1.55rem, 1.88rem);

  --gap-s: clamp(1rem, 0.05vi + 1rem, 1.2rem);


}



.header__nav__list {
  font-size: var(--fs-nav);
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
}

ul {
  list-style: none;
}

.big__title {
  color: var(--color-yellow);
  font-size: var(--fs-h1);
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  margin: 0;
}

.music__grid__then,
.music__grid__now,
.comics__results__title,
.medium__title,
.timeline__before__year,
.timeline__now__year,
.music__text__title,
.learn__title,
.bye__text__title,
.comics__background__title {
  color: var(--color-yellow);
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  font-size: var(--fs-lg);
  margin: 0;
}

body {
  background-color: var(--color-bckg);
  color: var(--color-body-brown);
  font-size: var(--fs-body);
  margin-top: var(--fs-md);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

nav {
  z-index: 5;
}

a {
  text-decoration: none;
  color: inherit;
}


.yellow {
  color: var(--color-yellow);
}

.strong {
  font-weight: bold;
}

.intro__plants__phone {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  left: -85vw;
  top: 50vh;
  overflow-x: hidden;
}

.plants__phone__right {
  margin-inline-start: -40vw;
}

.header__nav__buttons {
  display: flex;
  justify-content: space-between;
  margin-inline-start: var(--fs-body);
  inline-size: 90vw;
}

.header__nav {
  position: fixed;
}

.background_color {
  background-color: var(--color-bckg);
}


.header__nav__list {
  font-size: var(--fs-nav-phone);
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  inline-size: 100vw;
  block-size: 86vh;

}

.nav__list--styling {
  background-color: var(--color-bckg);
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  gap: 5vh;
  margin: 0;
  padding-block-start: 10vh;
}

.header__nav__list>li {
  border-bottom: 5px solid var(--color-yellow);
  inline-size: max-content;
  text-align: start;
  margin-inline-start: 15vw;
  transition: all 0.3s ease;
}

.header__nav__list>li:hover {
  border-bottom: 5px solid var(--color-yellow);
  padding-block-end: 2vh;
}

.nav__list__tickets {
  border: 5px solid var(--color-yellow);
  color: var(--color-body-brown);
  padding: 2vh;
  border-bottom: none;
}


header {
  block-size: 10vh;
}

.intro__grid__intro {
  display: flex;
  gap: var(--gap-s);
  flex-direction: column;
  align-items: center;
}

.intro__scroll__mouse_icon {
  display: none;
}

.intro__flex {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  inline-size: min-content;
}

.intro__grid {
  background-image: url(/integration3/src/assets/archs_hero/Archs.svg);
  background-position: -38vw -8vh;
  background-repeat: no-repeat;
  padding-block-start: 10vh;
  display: flex;
  flex-direction: column;
  background-size: 440vw 159vh;
  block-size: 140vh;
}

/* .intro__grid>* { grid-column: 1; grid-row: 1; } */

.intro__flex__p {
  inline-size: 65vw;
}

.stroll,
.hello_there {
  opacity: 1;
}

.stroll {
  align-self: center;
  margin-block-start: 1vh;
  inline-size: 74vw;
}

.intro__plantin {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: -1;
  inline-size: 80vw;
  margin-block-start: 9vh;
}

.clicking_portrait__portrait,
.intro__plantin__portrait {
  grid-column: 1/3;
  grid-row: 1/3;
  justify-self: center;
}

.intro__plantin__post_it {
  grid-column: 1;
  grid-row: 2;
  transform: rotate(-5deg);
  transform-origin: center;
  font-family: 'Homemade Apple', cursive;
  background-color: var(--color-post-it);
  line-height: normal;
  font-size: 10px;
  align-self: end;
  inline-size: 12vh;
  block-size: 12vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.intro__plantin__post_it__p {
  text-align: start;
  inline-size: min-content;
}

.intro__plantin__book_icon {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  margin-block-start: -3vh;
}

.intro__plantin__writing_icon {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-self: end;
  margin-block-end: -4vh;
  margin-inline-end: -3vw;
}

.hello_there {
  align-self: center;
  flex-direction: column;
  margin-block-start: 5vh;
  margin-inline-end: -7vw;
}


.hello_there__text__background {
  background-image: url(/integration3/src/assets/hello_there_talking_bckg/background_platin_talking.svg);
  background-repeat: no-repeat;
  background-size: 83vw 32vh;
  display: flex;
  flex-direction: column;
  inline-size: 83vw;
  align-self: center;
}

.hello_there__writing_icon {
  align-self: end;
  margin-block-start: -7vh;
}

.hello_there__text {
  inline-size: 71vw;
  block-size: 32vh;
  align-self: center;
  margin-block-start: 1vh;
}

.messages__first__background {
  background-image: url(../assets/messages/message1_phone_small.png);
  background-repeat: no-repeat;
  background-size: 91vw 19vh;
  inline-size: 92vw;
  block-size: 20vh;
}

.messages__first__text {
  margin-inline: 6vw;
  margin-block: 2vh;
}

.messages__third__read,
.messages__first__read {
  margin-inline-end: 7vw;
  margin-block-start: 2vh;
}

.messages__second__background {
  background-image: url(../assets/messages/background_message2.svg);
  background-repeat: no-repeat;
  inline-size: 92vw;
}

.messages__second__text {
  margin-inline: 9vw;
  margin-block: 2vh;
}

.messages__fourth__read,
.messages__second__read {
  margin-inline-start: 7vw;
}

.messages__third__background {
  background-image: url(../assets/messages/message3_phone_small.png);
  background-repeat: no-repeat;
  background-size: 93vw 19vh;
  inline-size: 93vw;
  block-size: 20vh;
}

.messages__third__text {
  inline-size: 83vw;
  margin-inline: 5vw;
  margin-block: 2vh;
}

.messages__fourth__background {
  background-image: url(../assets/messages/message4_phone_small.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 85vw 16vh;
  inline-size: 93vw;
  block-size: 20vh;
}

.messages__fourth__text {
  inline-size: 75vw;
  margin-inline: 7vw;
  margin-block: 2vh;
}

.messages__fifth__background {
  background-image: url(../assets/messages/message5_phone_small.png);
  background-repeat: no-repeat;
  background-size: 93vw 16vh;
  inline-size: 93vw;
  block-size: 20vh;
}

.messages__fifth__text {
  inline-size: 82vw;
  margin-inline: 5vw;
  margin-block: 2vh;
}

.messages__fifth,
.messages__fourth,
.messages__third,
.messages__second,
.messages__first {
  display: flex;
  flex-direction: column;
}

.messages__first__text,
.messaging__messages>div:nth-child(odd) {
  align-items: end;
}

.messaging {
  margin-block-start: 40vh;
  margin-inline: 3vw;
}

.messages__fifth>p:nth-of-type(2),
.messages__third>p:nth-of-type(2),
.messages__first>p:nth-of-type(2) {
  margin-inline-end: 7vw;
}

.messages__fourth>p:nth-of-type(2),
.messages__second>p:nth-of-type(2) {
  margin-inline-start: 7vw;
}

.biblia__photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  margin-inline-start: -2vh;
}

.biblia__photos__open_biblia,
.biblia__photos__biblia_icon {
  grid-column: 1;
  grid-row: 1;
  z-index: 5;
}

.biblia__photos__open_biblia {
  margin-block-start: 3vh;
}

.biblia__photos__music_sheet {
  grid-column: 1/3;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  margin-inline-start: -10vw;
}

.biblia__photos__atlas {
  grid-column: 2;
  grid-row: 1/3;
  align-self: center;
  margin-inline-start: -4vh;
}

.biblia__photos__plantin_page {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  margin-inline-end: -3vh;
}

.biblia__photos__octo_icon {
  grid-column: 1/3;
  grid-row: 2;
  margin-block-start: -5vh;
  margin-inline-end: -30vw;
  justify-self: center;
}

.biblia__photos__location_icon {
  grid-column: 2;
  grid-row: 1/3;
  justify-self: end;
  align-self: center;
  margin-block-start: -12vh;
}

.biblia {
  font-family: 'Iowan';
  font-size: var(--fs-md);
  background-image: url(../assets/background_bible/background_page.png);
  block-size: 291vh;
}


.conclusion_biblia__text__title,
.biblia__big_text {
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  font-size: var(--fs-lg);
}

.biblia__pages__second_page {
  block-size: 80vh;
  margin-block-start: 8vh;
}

.biblia__pages__second_page,
.biblia__pages__first_page {
  margin-inline: 10vw;
}

#signatureCanvas {
  cursor: crosshair;
  touch-action: none;
}

.first_page__text__form__field__writing {
  background-image: url(../assets/form/line.svg);
  background-repeat: no-repeat;
  background-position: right calc(100% - 0vh) bottom calc(100% - 20px);
  display: flex;
}


.first_page__text__form__field {
  display: grid;
  grid-template-columns: 60vw 1fr;
  margin-block-start: 3vh;
}

.first_page__text__form {
  display: flex;
  flex-direction: column;
}

.conclusion_biblia__text {
  background-image: url(../assets/background_conclusion_bible/background_final_bible.png);
  background-repeat: no-repeat;
  background-size: 80vw 57vh;
  background-position: center;
  margin-block-start: -9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 59vh;
}

.conclusion_biblia__text>p {
  inline-size: 80vw;
  padding: 5vw;
}

.conclusion_biblia__text__title {
  display: block;
  padding-block-start: 2vh;
}

.conclusion_biblia__date_icon {
  grid-row: 1;
  justify-self: end;
  margin-block-end: -5vh;
  opacity: 0;
  z-index: 100;
}

.conclusion_biblia__clicking_portrait {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: baseline;
}


.conclusion_biblia__clicking_portrait>* {
  grid-column: 1;
  grid-row: 1;
}

.clicking_portrait__hand {
  align-self: end;
  margin-inline-start: 18vw;
  margin-block-end: 4vw;
}

.clicking_portrait__g_woodblock {
  align-self: center;
  margin-block-start: 13vh;
}


.clicking_portrait__click_icon {
  align-self: center;
  justify-self: start;
}

.conclusion_biblia {
  margin-block-end: 10vh;
  margin-block-start: -30vh;
  display: grid;
  justify-items: center;
}

.woodblocks__question {
  inline-size: 76vw;
}

.g__grid__g {
  z-index: 3;
}


.woodblocks__question__text {
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.woodblocks__question__wrapper {
  padding-inline: 2vh;
  border: 5px solid var(--color-yellow);
  margin-block: 5vh;
  inline-size: 85vw;
}

.woodblocks__question__arrow {
  margin-inline-start: 2vw;
}



.woodblocks__img__g {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 51vh;
  justify-items: center;
  margin-block-start: 5vh;
}

.woodblocks__img__g>* {
  grid-column: 1;
  grid-row: 1;
}

.woodblocks__img__leaf_icon {
  justify-self: end;
  margin-inline-end: 2vh;
}

.woodblocks__img__leaf_icon,
.woodblocks__img__carving_icon {
  z-index: 3;
}

.woodblocks__img__carving_icon {
  align-self: end;
  justify-self: start;
}

.woodblocks p:nth-of-type(2) {
  margin-block-start: 5vh;
}

.woodblock_article {
  block-size: 582vh;
}

.g__grid__background {
  inline-size: 80vw;
}

.comics {
  margin-block-start: 8vh;
}

.comics__background__title {
  inline-size: 80vw;
  color: inherit;
}

.comics__background {
  margin: 0;
  background-image: url(../assets/bckg_tilting/background_tilting.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.woodblocks__img__g__grid {
  display: grid;
  /* grid-template-columns: 91vw; */
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
}

.woodblocks__img__g__grid>* {
  grid-column: 1;
  grid-row: 1;
}

.woodblocks__question__arrow--open {
  animation: rotate-180 0.3s forwards;
}

.woodblocks__question__arrow--close {
  animation: rotate-0 0.3s forwards;
}

@keyframes rotate-180 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

/* Keyframes for rotating back to 0 degrees */
@keyframes rotate-0 {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.options__grid__options {
  display: flex;
}

.form__field__instructions {
  opacity: 0.5;
  justify-self: center;
  margin-block-start: 1vh;
}

.grid__square__instructions {
  align-self: center;
}

.grid__square__instructions,
.comics__instructions {
  opacity: 0.5;
}

.grid__square__img {
  justify-self: center;
  width: 80vw;
}

.timeline__before__1960 {
  color: var(--color-body-brown);
}

.timeline___seals {
  display: flex;
  justify-content: space-around;
  margin-inline: 5vw;
  inline-size: 200vw;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin-block: 10vh;
}

.timeline>* {
  grid-column: 1;
  grid-row: 1;
}


.timeline__with_text {
  block-size: 123vh;
  inline-size: 200vw;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  margin-block-start: 20vh;
}

.timeline::-webkit-scrollbar {
  display: none;
}


.music__grid__container {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.music__grid__container>* {
  grid-column: 1;
  grid-row: 1;
}


.music__grid__container__old {
  opacity: 0.5;
  /* margin-block-end: -100vh; */
}


.music__grid_container__slider_line {
  position: absolute;
}



.comics__results__p {
  inline-size: 84vw;
}

.timeline__now {
  inline-size: 80vw;
  align-self: flex-end;
  margin-inline-end: 5vw;
  margin-block-start: 5vw;
}

.timeline__now__year {
  text-align: end;
}

.timeline__before {
  margin-inline-start: 5vw;
  inline-size: 80vw;
  margin-block-end: 5vw;
}

.timeline___seals__right,
.timeline___seals__left {
  display: flex;
  gap: 15vw;
}

.timeline___seals__left__carving {
  margin-block-start: 5vh;
}

.music__grid__then,
.timeline__before__year {
  color: var(--color-body-brown);
}


.beggining_music__plantin__book_icon {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  margin-block-start: -3vh;
}


.beggining_music {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  inline-size: 200vw;
}

.music_article {
  display: grid;
  grid-template-columns: 100vw 100vw;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  inline-size: 200vw;
}

.beggining_music>* {
  grid-row: 1;
  grid-column: 1;
}


.learn__title,
.music__text__title {
  color: inherit;
}

.music__text__p {
  inline-size: 80vw;
}


.music__text,
.comics__background__title,
.woodblocks {
  margin-inline: 7vw;
}

.learn__biblia__title,
.learn__wood__title,
.learn__octo__title {
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  font-size: var(--fs-lg);
}

.learn>* {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bye__button,
.more {
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  font-size: var(--fs-md);
  color: inherit;
  border: 5px solid var(--color-yellow);
  padding: 1vh;
}

.bye__text__p {
  inline-size: 75vw;
}

.bye__text {
  margin-inline-start: 5vw;
}

.bye__imgs__entrance {
  margin-inline-start: -9vw;
}

.bye__imgs {
  background-image: url(../assets/background_bye_entrance/background__bye.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  block-size: 90vh;
}

.footer__nav>li {
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  font-size: var(--fs-md);
  color: inherit;
  border-bottom: 5px solid var(--color-yellow);
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: flex-start;
  border-top: 5px solid var(--color-yellow);
}


.not_phone {
  display: none;
}

.inside {
  grid-row: 1;
  grid-column: 2;
}

.comics__options__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 44vh;
  justify-items: center;
  align-items: center;
  margin-block-start: 5vh;
}

.comics__options__grid>* {
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  padding: 0;
}

.timeline__line {
  block-size: 3vh;
  inline-size: 200vw;
  background: linear-gradient(to right, #6E3F00, #DD8C21);
}


/* .beggining_music__portrait_words__text {
  background-image: url(../assets/hello_there_talking_bckg/background_platin_talking.svg);
  background-repeat: no-repeat;
  background-size: contain;
  inline-size: 58vw;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  margin-block-start: -8vh;
  justify-self: end;
  margin-inline-end: 6vh;
}

.beggining_music__portrait_words__text>p {
  inline-size: 60vw;
  padding-inline: 5vw;
}

.beggining_music__portrait_words__date {
  margin-block-start: -7vh;
  margin-inline-end: 4vw;
  justify-self: end;
  grid-row: 3;
  grid-column: 1;
}

.beggining_music__portrait_words {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  inline-size: 100vw;
  z-index: 3;
  block-size: 88vh;
} */

/* .beggining_music__portrait_words__plantin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: -1;
  inline-size: 80vw;
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  margin-inline-start: 5vw;
} */

/* 
.plantin__portrait {
  grid-column: 1/3;
  grid-row: 1/3;
} */

.timeline {
  margin-block-end: 50vh;
}

@media screen and (min-width: 480px) {
  .hello_there {
    margin-block-start: 13vh;
    align-self: end;
    margin-inline-end: -3vw;
  }

  .stroll {
    margin-block-start: 5vh;
  }

  .intro__plantin__post_it {
    font-size: 14px;
  }

  .hello_there__text__background {
    background-size: 75vw 27vh;
  }

  .hello_there__text {
    inline-size: 68vw;
    margin-block-start: 4vh;
  }

  .hello_there__writing_icon {
    margin-block-start: -15vh;
    margin-inline-end: 5vw;
  }

  /* .header__nav__list {
    font-size: var(--fs-nav);
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  }

  ul {
    list-style: none;
  }

  .big__title {
    color: var(--color-yellow);
    font-size: var(--fs-h1);
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    margin: 0;
  }

  .music__grid__then,
  .music__grid__now,
  .comics__results__title,
  .medium__title,
  .timeline__before__year,
  .timeline__now__year,
  .music__text__title,
  .learn__title,
  .bye__text__title,
  h2 {
    color: var(--color-yellow);
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    font-size: var(--fs-lg);
    margin: 0;
  }

  body {
    background-color: var(--color-bckg);
    color: var(--color-body-brown);
    font-size: var(--fs-body);
    margin-top: var(--fs-md);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
  }

  button {
    border: none;
    background: transparent;
    outline: none;
  }

  nav {
    z-index: 5;
  }

  a {
    text-decoration: none;
    color: inherit;
  }


  .yellow {
    color: var(--color-yellow);
  }

  .strong {
    font-weight: bold;
  }

  .intro__plants__phone {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    left: -85vw;
    top: 50vh;
    overflow-x: hidden;
  }

  .plants__phone__right {
    margin-inline-start: -40vw;
  }

  .header__nav__buttons {
    display: flex;
    justify-content: space-between;
    margin-inline-start: var(--fs-body);
    inline-size: 90vw;
  }

  .header__nav {
    position: fixed;
  }

  .background_color {
    background-color: var(--color-bckg);
  }


  .header__nav__list {
    font-size: var(--fs-nav-phone);
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    inline-size: 100vw;
    block-size: 86vh;

  }

  .nav__list--styling {
    background-color: var(--color-bckg);
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    gap: 5vh;
    margin: 0;
    padding-block-start: 10vh;
  }

  .header__nav__list>li {
    border-bottom: 5px solid var(--color-yellow);
    inline-size: max-content;
    text-align: start;
    margin-inline-start: 15vw;
    transition: all 0.3s ease;
  }

  .header__nav__list>li:hover {
    border-bottom: 5px solid var(--color-yellow);
    padding-block-end: 2vh;
  }

  .nav__list__tickets {
    border: 5px solid var(--color-yellow);
    color: var(--color-body-brown);
    padding: 2vh;
    border-bottom: none;
  }


  header {
    block-size: 10vh;
  }

  .intro__grid__intro {
    display: flex;
    gap: var(--gap-s);
    flex-direction: column;
    align-items: center;
  }

  .intro__scroll__mouse_icon {
    display: none;
  }

  .intro__flex {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    inline-size: min-content;
  }

  .intro__grid {
    background-image: url(../assets/archs_hero/Archs.svg);
    background-position: -27vw -7vh;
    background-repeat: no-repeat;
    padding-block-start: 10vh;
    display: flex;
    flex-direction: column; */
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
  /* block-size: 100vh;
  } */

  /* .intro__grid>* {
  grid-column: 1;
  grid-row: 1;
} */
  /* 
  .intro__flex__p {
    inline-size: 77vw;
  }

  .stroll,
  .hello_there {
    opacity: 1;
  }

  .stroll {
    justify-self: center;
    align-self: end;
    inline-size: 70vw;
    margin-block-end: 5vh;
  }

  .intro__plantin {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: -1;
    inline-size: 80vw;
  }

  .clicking_portrait__portrait,
  .intro__plantin__portrait {
    grid-column: 1/3;
    grid-row: 1/3;
    justify-self: center;
  }

  .intro__plantin__post_it {
    grid-column: 1;
    grid-row: 2;
    transform: rotate(-5deg);
    transform-origin: center;
    font-family: 'Homemade Apple', cursive;
    background-color: var(--color-post-it);
    line-height: normal;
    font-size: var(--fs-sm);
    align-self: end;
    inline-size: 12vh;
    block-size: 12vh;
    display: flex;
  }

  .intro__plantin__post_it__p {
    text-align: start;
  }

  .intro__plantin__book_icon {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    margin-block-start: -3vh;
  }

  .intro__plantin__writing_icon {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
  }

  .hello_there {
    margin-inline-start: 10vw;
    background-image: url(../assets/hello_there_talking_bckg/background_platin_talking.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-self: end;
    justify-self: center;
    margin-block-end: 15vh;
  }

  .hello_there__text>p {
    inline-size: 61vw;
  }


  .hello_there__writing_icon {
    align-self: end;
    margin-block-end: 2vh;
    margin-inline-end: -5vw;
  }



  .messages__first__background {
    background-image: url(../assets/messages/background_message1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .messages__second__background {
    background-image: url(../assets/messages/background_message2.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;
  }

  .messages__third__background {
    background-image: url(../assets/messages/background_message3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .messages__fourth__background {
    background-image: url(../assets/messages/background_message4.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;
  }

  .messages__fifth__background {
    background-image: url(../assets/messages/background_message5.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .messages__fifth,
  .messages__fourth,
  .messages__third,
  .messages__second,
  .messages__first {
    display: flex;
    flex-direction: column;
  }

  .messages__fourth__text,
  .messages__second__text {
    padding: 7vw;
  }

  .messages__fifth__text,
  .messages__third__text,
  .messages__first__text {
    padding: 5vw;
  }

  .messages__first__text,
  .messaging__messages>div:nth-child(odd) {
    align-items: end;
  }

  .messages__fifth>p:nth-of-type(2),
  .messages__third>p:nth-of-type(2),
  .messages__first>p:nth-of-type(2) {
    margin-inline-end: 7vw;
  }

  .messages__fourth>p:nth-of-type(2),
  .messages__second>p:nth-of-type(2) {
    margin-inline-start: 7vw;
  }

  .biblia__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    margin-inline-start: -2vh;
  }

  .biblia__photos__open_biblia,
  .biblia__photos__biblia_icon {
    grid-column: 1;
    grid-row: 1;
    z-index: 5;
  }

  .biblia__photos__open_biblia {
    margin-block-start: 3vh;
  }

  .biblia__photos__music_sheet {
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    margin-inline-start: -10vw;
  }

  .biblia__photos__atlas {
    grid-column: 2;
    grid-row: 1/3;
    align-self: center;
    margin-inline-start: -4vh;
  }

  .biblia__photos__plantin_page {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    margin-inline-end: -3vh;
  }

  .biblia__photos__octo_icon {
    grid-column: 1/3;
    grid-row: 2;
    margin-block-start: -5vh;
    margin-inline-end: -30vw;
    justify-self: center;
  }

  .biblia__photos__location_icon {
    grid-column: 2;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
    margin-block-start: -12vh;
  }

  .biblia {
    font-family: 'Iowan';
    font-size: var(--fs-md);
    background-image: url(../assets/background_bible/background_page.png);
  }


  .conclusion_biblia__text__title,
  .biblia__big_text {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    font-size: var(--fs-lg);
  }

  .biblia__pages__second_page {
    block-size: 80vh;
    margin-block-start: 8vh;
  }

  .biblia__pages__second_page,
  .biblia__pages__first_page {
    margin-inline: 10vw;
  }

  #signatureCanvas {
    cursor: crosshair;
    touch-action: none;
  }

  .first_page__text__form__field__writing {
    background-image: url(../assets/form/line.svg);
    background-repeat: no-repeat;
    background-position: right calc(100% - 0vh) bottom calc(100% - 20px);
    display: flex;
  }


  .first_page__text__form__field {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-columns: 2fr 1fr;
    margin-block-start: 3vh;
  }

  .first_page__text__form {
    display: flex;
    flex-direction: column;
  }


  .conclusion_biblia__text {
    background-image: url(../assets/background_conclusion_bible/background_final_bible.svg);
    background-repeat: no-repeat;
    background-size: 80vw auto;
    background-position: center;
    margin-block-start: -9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 50vh;
  }

  .conclusion_biblia__text>p {
    inline-size: 80vw;
    padding: 5vw;
  }

  .conclusion_biblia__text__title {
    display: block;
    padding-block-start: 2vh;
  }

  .conclusion_biblia__date_icon {
    grid-row: 1;
    justify-self: end;
    margin-block-end: -5vh;
    opacity: 0;
    z-index: 100;
  }

  .conclusion_biblia__clicking_portrait {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: baseline;
  }


  .conclusion_biblia__clicking_portrait>* {
    grid-column: 1;
    grid-row: 1;
  }

  .clicking_portrait__hand {
    align-self: end;
    margin-inline-start: 18vw;
    margin-block-end: 4vw;
  }

  .clicking_portrait__g_woodblock {
    align-self: center;
    margin-block-start: 13vh;
  }


  .clicking_portrait__click_icon {
    align-self: center;
    justify-self: start;
  }

  .conclusion_biblia {
    margin-block-end: 15vh;
    margin-block-start: -30vh;
    display: grid;
    justify-items: center;
  }


  .woodblocks__question__text {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    display: flex;
  }

  .woodblocks__question__wrapper {
    padding-inline: 2vh;
    border: 5px solid var(--color-yellow);
    margin-block: 5vh;
    inline-size: 85vw;
  }

  .woodblocks__question__arrow {
    margin-inline-start: 2vw;
  }

  .woodblocks__question__answer {
    display: none;
  }

  .woodblocks__img__g {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-block-start: 5vh;
  }

  .woodblocks__img__g>* {
    grid-column: 1;
    grid-row: 1;
  }

  .woodblocks__img__leaf_icon {
    justify-self: end;
    margin-inline-end: 2vh;
  }

  .woodblocks__img__carving_icon {
    align-self: end;
    justify-self: start;
  }

  .woodblocks p:nth-of-type(2) {
    margin-block-start: 5vh;
  }

  .comics {
    margin-block-start: 8vh;
  }

  .comics__background__title {
    inline-size: 80vw;
    color: inherit;
  }

  .comics__background {
    margin: 0;
    background-image: url(../assets/bckg_tilting/background_tilting.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .woodblocks__img__g__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }

  .woodblocks__img__g__grid>* {
    grid-column: 1;
    grid-row: 1;
  }

  .g__grid__g {
    opacity: 0;
  }

  .woodblocks__question__arrow--open {
    animation: rotate-180 0.3s forwards;
  }

  .woodblocks__question__arrow--close {
    animation: rotate-0 0.3s forwards;
  }

  @keyframes rotate-180 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(180deg);
    }
  } */

  /* Keyframes for rotating back to 0 degrees */
  /* @keyframes rotate-0 {
    from {
      transform: rotate(180deg);
    }

    to {
      transform: rotate(0deg);
    }
  }

  .options__grid__options {
    display: flex;
  }

  .form__field__instructions {
    opacity: 0.5;
    justify-self: center;
  }

  .grid__square__instructions {
    align-self: center;
  }

  .grid__square__instructions,
  .comics__instructions {
    opacity: 0.5;
  }

  .grid__square__img {
    justify-self: center;
    width: 80vw;
  }

  .timeline__before__1960 {
    color: var(--color-body-brown);
  }

  .timeline__with_text {
    block-size: 120vh;
    inline-size: 200vw;
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
  }

  .timeline::-webkit-scrollbar {
    display: none;
  }


  .music__grid__container {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .music__grid__container>* {
    grid-column: 1;
    grid-row: 1;
  }


  .music__grid__container__old {
    opacity: 0.5; */
  /* margin-block-end: -100vh; */
  /* } */

  /* 
  .music__grid_container__slider_line {
    position: absolute;
  }



  .comics__results__p {
    inline-size: 84vw;
  }

  .timeline__now {
    inline-size: 80vw;
    align-self: flex-end;
    margin-inline-end: 5vw;
    margin-block-start: 5vw;
  }

  .timeline__now__year {
    text-align: end;
  }

  .timeline__before {
    margin-inline-start: 5vw;
    inline-size: 80vw;
    margin-block-end: 5vw;
  }

  .music__grid__then,
  .timeline__before__year {
    color: var(--color-body-brown);
  }


  .beggining_music__plantin__book_icon {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    margin-block-start: -3vh;
  }


  .beggining_music {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    inline-size: 200vw;
  }

  .music_article {
    display: grid;
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    inline-size: 200vw;
  }

  .beggining_music>* {
    grid-row: 1;
    grid-column: 1;
  }


  .learn__title,
  .music__text__title {
    color: inherit;
  }

  .music__text__p {
    inline-size: 80vw;
  }


  .music__text,
  .comics__background__title,
  .woodblocks {
    margin-inline: 7vw;
  }

  .learn__biblia__title,
  .learn__wood__title,
  .learn__octo__title {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    font-size: var(--fs-lg);
  }

  .learn>* {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bye__button,
  .more {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    font-size: var(--fs-md);
    color: inherit;
    border: 5px solid var(--color-yellow);
    padding: 1vh;
  }

  .bye__text__p {
    inline-size: 75vw;
  }

  .bye__text {
    margin-inline-start: 5vw;
  }

  .bye__imgs__entrance {
    margin-inline-start: -9vw;
  }

  .bye__imgs {
    background-image: url(../assets/background_bye_entrance/background__bye.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    block-size: 90vh;
  }

  .footer__nav>li {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    font-size: var(--fs-md);
    color: inherit;
    border-bottom: 5px solid var(--color-yellow);
  }

  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: flex-start;
    border-top: 5px solid var(--color-yellow);
  }


  .not_phone {
    display: none;
  }

  .inside {
    grid-row: 1;
    grid-column: 2;
  }

  .comics__options__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-block-start: 5vh;
    justify-items: center;
  }

  .comics__options__grid>* {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    padding: 0;
  }

  .timeline__line {
    block-size: 3vh;
    inline-size: 200vw;
    background: linear-gradient(to right, #6E3F00, #DD8C21);
  } */


  /* .beggining_music__portrait_words__text {
  background-image: url(../assets/hello_there_talking_bckg/background_platin_talking.svg);
  background-repeat: no-repeat;
  background-size: contain;
  inline-size: 58vw;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  margin-block-start: -8vh;
  justify-self: end;
  margin-inline-end: 6vh;
}

.beggining_music__portrait_words__text>p {
  inline-size: 60vw;
  padding-inline: 5vw;
}

.beggining_music__portrait_words__date {
  margin-block-start: -7vh;
  margin-inline-end: 4vw;
  justify-self: end;
  grid-row: 3;
  grid-column: 1;
}

.beggining_music__portrait_words {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  inline-size: 100vw;
  z-index: 3;
  block-size: 88vh;
} */

  /* .beggining_music__portrait_words__plantin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: -1;
  inline-size: 80vw;
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  margin-inline-start: 5vw;
} */

  /* 
.plantin__portrait {
  grid-column: 1/3;
  grid-row: 1/3;
} */

  /* .timeline {
    margin-block-end: 50vh;
  } */
}

@media screen and (min-width: 768px) {
  .intro__grid {
    background-position: -65vw -12vh;
  }

  .intro__plantin__post_it {
    font-size: 16px;
  }

  .intro__plantin__writing_icon {
    margin-block-end: -4vh;
    margin-inline-end: 2vw;
  }

  .stroll {
    margin-block-start: 8vh;
  }

  .hello_there__text {
    inline-size: 43vw;
  }

  .hello_there__text__background {
    background-size: 79vw 23vh;
  }

  .hello_there__writing_icon {
    margin-block-start: -19vh;
    margin-inline-end: 16vw;
  }

}


@media screen and (min-width: 1024px) {

  .intro__plantin__book_icon,
  .intro__plantin__writing_icon {
    z-index: 3;
  }

  .header__nav__buttons {
    inline-size: auto;
  }


  .header__nav__list>li {
    border-bottom: none;
    inline-size: max-content;
    font-size: var(--fs-nav-computer);
    margin-inline-start: 0;
  }

  .nav__logo {
    width: 8vw;
    height: auto;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    inline-size: 100vw;
  }

  .header__nav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
    margin: 0;
    inline-size: auto;
    block-size: auto;
  }

  .header__nav__list li:nth-child(-n+4) {
    border-top: 5px solid var(--color-yellow);
    text-align: center;
    padding-block-start: 2vh;
  }


  .header__nav__tickets {
    display: block;
    border: 5px solid var(--color-yellow);
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    font-size: var(--fs-md);
    color: inherit;
    padding: 2vh;
    inline-size: fit-content;
    block-size: fit-content;
    justify-self: end;
    margin-inline-end: 2vw;
    background-color: var(--color-bckg);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .bye__button:hover,
  .more:hover,
  .header__nav__tickets:hover {
    background-color: var(--color-yellow);
    color: var(--color-bckg);
  }

  .intro__grid__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80vh;
    margin: 4vh;
  }

  .intro__scroll_div {
    align-self: end;
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .big__title {
    inline-size: max-content;
  }

  .intro__flex__p {
    inline-size: 35vw;
  }



  .intro__flex {
    grid-column: 2;
    text-align: end;
    grid-row: 1;
  }

  .intro__scroll__mouse_icon {
    display: block;
  }

  .intro__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro__grid {
    background-image: url(../assets/archs_hero/archs_computer.svg);
    background-position: 0vw -7vh;
    background-size: 120vw;
    padding-block-start: 0vh;
  }

  .intro__plantin {
    inline-size: 50vw;
    margin-inline-start: -50vw;
    margin-block-start: -69vh;
    inline-size: 33vw;
  }

  .intro__plantin__post_it {
    margin-inline-start: -3vw;
    inline-size: 70%;
    block-size: 60%;
    font-size: 15px;
  }

  .intro__plantin__post_it>p {
    inline-size: min-content;
    margin-inline: 2vw;
    margin-block: 2vh;
    background-position: center calc(50% + 0.1vh);
  }

  .intro__plantin__book_icon {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }

  .intro__plantin__writing_icon {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: end;
    margin-inline-start: -4vw;
    margin-block-end: -5vh;
  }

  .intro__plantin__post_it {
    inline-size: 15vh;
    block-size: 15vh;
    display: flex;
    align-items: start;
    justify-content: start;
  }

  .intro__plantin__post_it>p {
    inline-size: min-content;
    padding-bottom: 1vh;
    margin: 3vh;
  }


  .intro__plantin__book_icon {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-content: center;
    z-index: 3;
  }

  .intro__plantin__writing_icon {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    justify-self: start;
    z-index: 3;
  }

  .stroll {
    display: grid;
    align-self: end;
    margin-inline-end: 4vw;
    text-align: end;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 16vh;
    inline-size: 100vw;
    margin-block-start: 60vh;
  }

  .stroll__text {
    grid-column: 2;
  }

  .hello_there__text {
    inline-size: 33vw;
  }

  .not_phone {
    display: block;
  }

  .not_computer {
    display: none;
  }

  .hello_there {
    align-self: center;
    margin-block-start: 67vh;
    margin-inline-start: 20vw;
  }

  .hello_there__text__background {
    background-size: 34vw 24vh;
    background-image: url(../assets/intro_plantin_bck/background_platin_talking__computer.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding: 2vh;
    display: flex;
    margin-inline-end: 2vw;
    inline-size: 40vw;
  }

  .hello_there__text {
    margin-block-start: 1vh;
    margin-inline-start: 3vw;
  }

  /*

  .stroll__text {
    inline-size: 35vw;
    margin-inline-end: 5vw;
  } */

  /* 

  .hello_there__text>p {
    inline-size: 30vw;
  }

  .hello_there__text {
    inline-size: 33vw;
    block-size: 26vh;
    justify-self: center;
    align-self: center;
    padding-inline: 2vw;
    padding-block: 1vh;
  }

  .hello_there__writing_icon {
    display: none;
  } */


  /* 
  

  .bye__button,
  .more {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
 */

  /* 
  
  .messaging__messages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    inline-size: 60vw;
    justify-self: end;
    margin-inline-end: 10vw;
    margin: 3vw;
    grid-row: 1;
    grid-column: 2;
  }

  .messaging__messages>div:nth-child(odd) {
    justify-items: end;
  }

  .messages__first {
    grid-column: 2;
    grid-row: 1;
  }

  .messages__second {
    grid-column: 1;
    grid-row: 2;
  }

  .messages__third {
    grid-column: 2;
    grid-row: 3;
  }

  .messages__fourth {
    grid-column: 1;
    grid-row: 4;
  }

  .messages__fifth {
    grid-column: 2;
    grid-row: 5;
  }

  .messages__fifth__text,
  .messages__fourth__text,
  .messages__third__text,
  .messages__first__text {
    padding: 2vw;
  }



  .messages__second__text {
    padding: 2vw;
  }

  .messages__fourth__text {
    inline-size: 20vw;
  }



  .messaging {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .messaging__plantin {
    grid-column: 1;
    grid-row: 1;
  }

  .biblia__photos__music_sheet {
    grid-column: 2;
    align-self: end;
  }

  .biblia__photos__atlas {
    grid-column: 2;
    grid-row: 1/3;
    justify-self: end;
    align-self: start;
    margin-inline-end: -5vw;
  }

  .biblia__photos__plantin_page {
    grid-column: 1;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    margin-block-start: 9vh;
    z-index: 2;
  }

  .biblia__photos__octo_icon {
    grid-row: 1;
    align-self: center;
    margin-inline-start: 25vw;
    margin-block-end: 5vh;
  }

  .biblia__photos__location_icon {
    align-self: start;
    margin-block-start: 0vh;
  }

  .first_page__background {
    background-image: url(../assets/biblia_background/biblia_pages_background.png);
    background-repeat: no-repeat;
    background-size: 46vw 129vh;
    background-position: left top;
  }

  .second_page__second_text,
  .first_page__text {
    inline-size: 37vw;
    padding-block: 19vh;
    padding-inline: 5vw;
    block-size: 150vh;
  }

  .biblia {
    background-image: none;
    font-size: inherit;
  }

  .biblia__pages__first_page {
    margin-block-start: 9vh;
    transform: rotate(-2deg);
    margin-inline-start: 9vw;
    grid-column: 1;
    grid-row: 1;
    align-self: start;
  }

  .first_page__text__form__field__writing {
    background-position: right calc(100% - 0vh) bottom calc(100% - 4vh);
  }

  .biblia__pages__second_page {
    transform: rotate(2deg);
    grid-column: 2;
    grid-row: 1/3;
    align-self: center;
    margin-inline: 0vw;
    overflow: hidden;
  }

  .second_page__background {
    background-image: url(../assets/biblia_background/biblia_pages_background.png);
    background-repeat: no-repeat;
    background-size: 50vw 129vh;
    background-position: left top;
  }


  .biblia__pages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-block-start: -25vh;
    inline-size: 100vw;
    block-size: 150vh;
    overflow: hidden;
  }

  .biblia__photos__open_biblia {
    z-index: 3;
  }

  .biblia__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 130vh;
    block-size: 30vh;
    position: relative;
    overflow: hidden;
  }

  .absolute {
    position: absolute;
  }

  .absolute_second_page {
    position: absolute;
    left: 60vw;
    margin: 0;
  }

  .relative_pages {
    block-size: 0vh;
  }

  .conclusion_biblia__text {
    background-image: none;
    inline-size: 43vw;
  }

  .conclusion_biblia__background {
    background-image: url(/integration3/src/assets/conclusion_biblia_text_background/conclusion_biblia_background.png);
    background-position: center top;
    background-size: 41vw 42vh;
    background-repeat: no-repeat;
    padding: 5vh;
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: end;
    justify-self: end;
    margin-block-end: -8vh;
    margin-inline-end: -4vw;
  }

  .conclusion_biblia {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    inline-size: 60vw;
    block-size: 85vh;
    justify-self: center;
  }

  .conclusion_biblia__clicking_portrait {
    grid-column: 1/3;
    grid-row: 1;
    justify-self: start;
  }

  .conclusion_biblia__date_icon {
    grid-column: 1;
    grid-row: 1;
  }

  .clicking_portrait__hand {
    margin-inline-start: 8vw;
    margin-block-end: 2.5vw;
  }

  .clicking_portrait__g_woodblock {
    margin-block-start: 20vh;
    margin-inline-start: 3vw;
    transition: transform 0.3s ease;
    animation: none;
  }


  .clicking_portrait__click_icon {
    justify-self: center;
    margin-inline-end: 9vw;
  }

  .woodblocks__first_text {
    inline-size: 30vw;
    grid-column: 1;
    grid-row: 1;
  }

  .woodblocks__question__wrapper {
    padding-inline: 0;
    border: none;
    margin-block: 0;
    inline-size: 40vw;
    font-size: var(--fs-md);
    color: var(--color-yellow);
  }

  .woodblocks__question__answer {
    display: block;
    font-family: 'Inter', sans-serif;
    color: var(--color-body-brown);
    font-size: var(--fs-body);
  }

  .woodblocks__question__arrow {
    display: none;
  }

  .woodblocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    block-size: 110vh;
  }

  .woodblocks__second_text {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    justify-self: end;
    inline-size: 30vw;
  }

  .woodblocks__img {
    grid-row: 1 / 4;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    inline-size: 60vw;
    margin-block-start: 10vh;
  }

  .woodblocks__img__g {
    grid-column: 1/5;
    grid-row: 1/5;
    align-self: center;
    z-index: 3;
    justify-self: center;
  }


  .woodblocks__img__yellow_frame {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
  }

  .woodblocks__img__brown_frame {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
  }

  .comics__background__title {
    inline-size: 50vw;
    text-align: center;
  }

  .options__grid__options {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    inline-size: 80vw;
    block-size: 50vh;
    gap: 1vh;
  }

  .comics__options__1 {
    grid-row: 1;
    grid-column: 1;
  }

  .comics__options__2 {
    grid-row: 2;
    grid-column: 1;
  }

  .comics__options__3 {
    grid-row: 1;
    grid-column: 3;
  }

  .comics__options__4 {
    grid-row: 2;
    grid-column: 3;
  } */

  /* .comics__options__grid__square {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
    
      .grid__square__img {
        justify-self: center;
        width: 80vw;
        grid-column: 1;
        grid-row: 1/3;
      } */

  /* 
  .timeline__before { */
  /* margin-inline-start: 5vw; */
  /* inline-size: 50vw; */
  /* margin-block-end: 5vw; */
  /* } */
  /* 
  .timeline__line {
    inline-size: 100vw;
  }

  .timeline__with_text {
    inline-size: 100vw;
    block-size: auto;
  }

  .timeline__now {
    inline-size: 50vw;
  }

  .timeline___seals {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-inline: 5vw;
  }

  .timeline___seals__right {
    grid-column: 3;
  }

  .timeline___seals__right,
  .timeline___seals__left {
    display: flex;
    gap: 10vw;
    block-size: 20vh;
  }

  .timeline___seals__right__nature,
  .timeline___seals__left__carving {
    align-self: end;
  }

  .timeline___seals__right__scan,
  .timeline___seals__right__nature {
    align-self: start;
  }

  .timeline {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-block: 10vh;
  }

  .timeline>* {
    grid-column: 1;
    grid-row: 1;

  }


  .beggining_music__portrait_words__text {
    background-image: url(../assets/conclusion_biblia_text_background/conclusion_biblia_background_computer.png);
    background-size: 34vw 22vh;
    display: flex;
    inline-size: 34vw;
    block-size: 22vh;
    justify-content: center;
  }

  .beggining_music__portrait_words__text>p {
    align-self: center;
    inline-size: 29vw;
    block-size: 15vh;
    padding-inline: 0;
  }

  .beggining_music__portrait_words {
    inline-size: 50vw;
    margin-inline-start: 5vw;
    grid-row: 1;
    grid-column: 1;
  }

  .beggining_music__portrait_words__plantin {
    inline-size: auto;
  }

  .beggining_music__portrait_words__date {
    margin-block-start: -12vh;
  }

  .music {
    background-image: url(../assets/music_background/background_music.png);
    background-repeat: no-repeat;
    background-size: cover;
    inline-size: 100vw;
    background-position: top left;
    block-size: 200vh;
    padding-block: 55vh;
    margin-block: -50vh;
    grid-column: 1;

  }

  .music__text__p {
    inline-size: 40vw;
  }

  .music__grid {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-inline-start: 100vw;
    align-self: center;
  }

  .music__grid__now {
    align-self: end;
  }


  .not_computer {
    display: none;
  }

  .learn__carousel>ul {
    display: flex;
    justify-content: space-between;
    inline-size: 90vw;
    padding: 0;
  }

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .bye {
    margin-block-start: 20vh;
  }

  .bye__text__p {
    margin-block: 5vh;
    inline-size: 48vw;
  }

  .footer__info {
    display: flex;
    justify-content: space-between;
    inline-size: 90vw;
    align-self: center;
    margin-block-end: 10vh;
  }

  .footer__info__contacts {
    text-align: end;
  }

  .footer__info__right {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 4vh;
  }

  .footer__nav>li {
    line-height: 7vh;
  } */
}

@media screen and (min-width: 1420px) {

  .intro__plantin {
    margin-block-start: -80vh;
  }

  .intro__plantin__post_it {
    margin-inline-start: 0vw;
  }

  .intro__plantin__book_icon {
    margin-block-end: -7vh;
  }

  .intro__plantin__writing_icon {
    margin-inline-start: -2vw;
    margin-block-end: -8vh;
  }

  .stroll__text {
    inline-size: 36vw;
  }

  .stroll {
    justify-items: end;
  }

  .hello_there__text__background {
    background-size: 26vw 24vh;
  }

  .hello_there__text {
    margin-inline-start: 2vw;
    inline-size: 24vw;
  }
}


@media screen and (min-width: 1920px) {

  .intro__plantin {
    margin-block-start: -77vh;
  }

  .intro__plantin__post_it {
    margin-inline-start: 0vw;
    font-size: 18px;
  }

  body {
    font-size: 19px;
  }

  .intro__plantin__book_icon {
    margin-block-start: -4vh;
  }

  .intro__plantin__writing_icon {
    margin-inline-start: -3vw;
  }

  .intro__flex>h3 {
    margin-inline-end: -7vw;
  }

  .stroll {
    margin-block-start: 50vh;
    justify-items: end;
  }

  .stroll__text {
    inline-size: 28vw;
  }

  .hello_there__text {
    inline-size: 18vw;
    margin-inline-start: -1vw;
    margin-block-start: 2vh;
  }

  .hello_there__text__background {
    background-size: 24vw 24vh;
  }
}

.hidden {
  display: none;
}

/* 450 to phone */